@media only screen and (min-width: 1920px) and (max-device-width: 2560px) {
  body {
    width: 100%;
    height: 2943px;
  }
  .allblocks {
    width: 100%;
    height: 2943px;
  }
}

@media only screen and (min-width: 1440px) and (max-device-width: 1919px) {
  body {
    width: 100%;
    height: 2208px;
  }
  .allblocks {
    width: 100%;
    height: 2208px;
  }
}
@media only screen and (min-device-width: 1280px) and (max-device-width: 1439px) {
  body {
    width: 100%;
    height: 1965px;
  }
  .allblocks {
    width: 100%;
    height: 1965px;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  body {
    width: 100%;
    height: 1575px;
  }
  .allblocks {
    width: 100%;
    height: 1575px;
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 1023px) {
  body {
    width: 100%;
    height: 4295px;
  }
  .allblocks {
    width: 100%;
    height: 4295px;
  }
  .smallflex {
    display: flex;
    flex-direction: column;
  }
  .leftflex {
    display: flex;
    flex-direction: column;
  }
  .rightflex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 833px) {
  body {
    width: 100%;
    height: 2136px;
  }
  .allblocks {
    width: 100%;
    height: 2136px;
  }
  .smallflex {
    display: flex;
    flex-direction: column;
  }
  .leftflex {
    display: flex;
    flex-direction: column;
  }
  .rightflex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 413px) {
  body {
    width: 100%;
    height: 1668px;
  }
  .allblocks {
    width: 100%;
    height: 1668px;
  }
  .smallflex {
    display: flex;
    flex-direction: column;
  }
  .leftflex {
    display: flex;
    flex-direction: column;
  }
  .rightflex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
